{% extends 'layouts/base.html.twig' %}


{% block title %}Trang chủ{% endblock %}

{% block body %}

{# banner searching #}
<div class="bg-banner-custom p-3 position-relative">

    <h2 class="text-center text-white mt-4">Khám phá điểm du lịch mơ ước của bạn</h2>

    <div class="bg-white w-25 py-2 px-3 rounded-5 position-absolute top-50 start-50 translate-middle">
        <i class="bi bi-search"></i>
        <input type="text" name="search" class="ms-2 border-0 shadow-none focus-ring-0 input-searching"
            placeholder="Bạn cần tìm gì...." style="width: 90%" />
    </div>
</div>

<div class="container mt-5 gap-5 d-flex flex-column">
    {# Dịch vụ nổi bật #}
    <section>
        <h2 class="mb-4">Dịch vụ nổi bật</h2>
        <div class="row row-cols-4 g-4">
            <a href="#" class="col text-decoration-none text-reset">
                <div class="p-4 rounded-4 pointer-hover-col"
                    style="background-color: #F1EFFF; --shadow-color: rgba(13,80,168,0.4)">
                    <div class="d-flex flex-row gap-4 align-items-center">
                        <div class="rounded-circle flex-row d-flex justify-content-center align-items-center "
                            style="width: 80px; height: 80px; background-color: #DFDDF4;">
                            <i class="bi bi-fork-knife fs-3 " style="color: #0D50A8;"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fs-4">Ẩm thực</span>
                            <span class="fs-5">50+ quán</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col text-decoration-none text-reset">
                <div class="p-4 rounded-4 pointer-hover-col"
                    style="background-color: #E7F7F1; --shadow-color: rgba(5,128,74,0.4)">
                    <div class="d-flex flex-row gap-4 align-items-center">
                        <div class="rounded-circle flex-row d-flex justify-content-center align-items-center "
                            style="width: 80px; height: 80px; background-color: #CAF3E5;">
                            <i class="bi bi-geo-alt-fill fs-3" style="color: #05804A;"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fs-4">Tham quan</span>
                            <span class="fs-5">50+ địa điểm</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/searching-routes" class="col text-decoration-none text-reset">
                <div class="p-4 rounded-4 pointer-hover-col" style="background-color: #FFF3E6; --shadow-color: #FFCC33">
                    <div class="d-flex flex-row gap-4 align-items-center">
                        <div class="rounded-circle flex-row d-flex justify-content-center align-items-center "
                            style="width: 80px; height: 80px; background-color: #FFEBCF;">
                            <i class="bi bi-car-front-fill fs-3" style="color: #FBA01C"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fs-4">Thuê xe</span>
                            <span class="fs-5">50+ xe</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col text-decoration-none text-reset">
                <div class="p-4 rounded-4 pointer-hover-col" style="background-color: #E5F3FF; --shadow-color: #3366CC">
                    <div class="d-flex flex-row gap-4 align-items-center">
                        <div class="rounded-circle flex-row d-flex justify-content-center align-items-center "
                            style="width: 80px; height: 80px; background-color: #D2ECFF;">
                            <i class="bi bi-person-badge-fill fs-3" style="color: #2394E8"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fs-4">Đặt tài xế</span>
                            <span class="fs-5">50+ tài xế</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>

    {# Địa điểm nổi bật #}
    <section>
        <h2 class="mb-3">Địa điểm nổi bật</h2>

        <div class="row row-cols-4 g-4">
            {% for item in provinces %}
            <a href="/province/{{ item.id }}" class="col text-decoration-none text-reset">
                <article class="pointer-hover-col border rounded-4" style="border-color: #000;">
                    {% set img = item.images[0].url ?? '' %}

                    <div class="w-100 rounded-top-4" style="
                            background-image: url('{{ img }}');
                            height: 180px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                         ">
                    </div>

                    <div class="w-100 rounded-bottom-2 p-3 d-flex flex-column">
                        <span>Điểm đến: <strong class="fs-5" style="
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                ">{{ item.name }}</strong></span>
                        <div>
                            <i class="bi bi-star-fill text-warning"></i> <span>{{ 4.5 }}</span>
                        </div>
                        <p class="clamp-2" style="max-width: 300px;">
                            {{ item.description }}
                        </p>
                        <div class="w-100 text-center">
                            <span class="btn-view-detail">[Xem chi tiết]</span>
                        </div>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>

        <a href="/provinces" class="text-center">
            <div class="mx-auto mt-4">
                <span>Xem tất cả</span>
            </div>
        </a>
    </section>

    {# Top các địa điểm HOT 2025 #}
    <section>
        <h2 class="mb-3">Top địa điểm du lịch HOT 2025</h2>
        <div class="row row-cols-4 g-4">
            {% for spot in travelSpots %}
            <a href="/travel-spot/{{ spot.id }}" class="col text-decoration-none text-reset">
                <article class="pointer-hover-col border rounded-4" style="border-color: #000;">
                    {% set img = spot.images[0].url ?? '' %}

                    <div class="w-100 rounded-top-4" style="
                        background-image: url('{{ img }}');
                        height: 180px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                     ">
                    </div>

                    <div class="w-100 rounded-bottom-2 p-3 d-flex flex-column">
                        <span>Địa điểm: <strong class="fs-5" style="
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                ">{{ spot.name }}</strong></span>
                        <div>
                            <i class="bi bi-star-fill text-warning"></i> <span>{{ 4.5 }}</span>
                        </div>
                        <p class="clamp-2" style="max-width: 300px;">
                            {{ spot.description }}
                        </p>
                        <div class="w-100 text-center">
                            <span class="btn-view-detail">[Xem chi tiết]</span>
                        </div>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>

        <a href="/provinces-with-travel-spots" class="text-center">
            <div class="mx-auto mt-4">
                <span>Xem tất cả</span>
            </div>
        </a>
    </section>

    {# Top món ăn không thể bỏ qua khi đi du lịch #}
    <section>
        <h2 class="mb-3">Top địa điểm ăn uống không thể bỏ qua </h2>
        <div class="row row-cols-4 g-4">
            {% for food in foodCourts %}
            <a href="/food-court/{{ food.id }}" class="col text-decoration-none text-reset">
                <article class="pointer-hover-col border rounded-4" style="border-color: #000;">
                    {% set img = food.images[0].url ?? '' %}

                    <div class="w-100 rounded-top-4" style="
                            background-image: url('{{ img }}');
                            height: 180px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                         ">
                    </div>

                    <div class="w-100 rounded-bottom-2 p-3 d-flex flex-column">
                        <span>Địa điểm: <strong class="fs-5" style="
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            ">{{ food.name }}</strong></span>
                        <div>
                            <i class="bi bi-star-fill text-warning"></i> <span>{{ 4.5 }}</span>
                        </div>
                        <p class="clamp-2" style="max-width: 300px;">
                            {{ food.description }}
                        </p>
                        <div class="w-100 text-center">
                            <span class="btn-view-detail">[Xem chi tiết]</span>
                        </div>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>

        <a href="/food-courts-belong-provinces" class="text-center">
            <div class="mx-auto mt-4">
                <span>Xem tất cả</span>
            </div>
        </a>
    </section>


    {# Đánh giá từ người dùng #}
    <section>
        <h2 class="mb-3"> <i class="bi bi-star-fill text-warning"></i> Đánh giá từ người dùng <i
                class="bi bi-star-fill text-warning"></i> </h2>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- ITEM 1 -->
                <div class="carousel-item active" data-bs-interval="3000">
                    <div class="d-flex justify-content-center align-items-center p-4" style="min-height: 250px;">
                        <div class="text-center" style="max-width: 500px;">
                            <img src="https://i.pravatar.cc/80?u=1" class="rounded-circle mb-3" alt="avatar">
                            <h5 class="mb-1">Nguyễn Văn A</h5>
                            <div class="mb-2">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-half text-warning"></i>
                            </div>
                            <p class="fst-italic">"Trang web rất dễ sử dụng và dịch vụ tuyệt vời! Tôi sẽ quay lại."</p>
                        </div>
                    </div>
                </div>

                <!-- ITEM 2 -->
                <div class="carousel-item" data-bs-interval="3000">
                    <div class="d-flex justify-content-center align-items-center p-4" style="min-height: 250px;">
                        <div class="text-center" style="max-width: 500px;">
                            <img src="https://i.pravatar.cc/80?u=2" class="rounded-circle mb-3" alt="avatar">
                            <h5 class="mb-1">Trần Thị B</h5>
                            <div class="mb-2">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                            </div>
                            <p class="fst-italic">"Hỗ trợ khách hàng rất nhanh và thân thiện. Tôi rất hài lòng!"</p>
                        </div>
                    </div>
                </div>

                <!-- ITEM 3 -->
                <div class="carousel-item" data-bs-interval="3000">
                    <div class="d-flex justify-content-center align-items-center p-4" style="min-height: 250px;">
                        <div class="text-center" style="max-width: 500px;">
                            <img src="https://i.pravatar.cc/80?u=3" class="rounded-circle mb-3" alt="avatar">
                            <h5 class="mb-1">Lê Minh C</h5>
                            <div class="mb-2">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                            </div>
                            <p class="fst-italic">"Giao diện đẹp, dễ thao tác và nội dung hữu ích!"</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Nút điều hướng (tuỳ chọn) -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>
</div>
{% endblock %}